<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Index:</strong>
    <%= user.index %>
  </p>

  <p>
    <strong>New:</strong>
    <%= user.new %>
  </p>

</div>
